{% load static %}
<!DOCTYPE html> <!-- Используется html 5 версии -->
<html lang="ru"> <!-- Язык сайта - русский -->
  <head>{% include 'includes/head.html' %}
    <title>{% block title %}Yatube{% endblock %}</title>
  </head>
  <body>
    {% include 'includes/header.html' %}
    <main>
      <!-- класс py-5 создает отступы сверху и снизу блока -->
      <div class="container py-5">
        <h1>{% block h1 %}Заголовок{% endblock %}</h1>
        {% block content %}Контент{% endblock %}
      </div>
    </main>
    {% include 'includes/footer.html' %}
  </body>
</html>