{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block h1 %}Вот что я умею{% endblock %}
{% block content %}
<div class="row">
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        Самый главный навык - это в Slack'е искать либо то, как кто-то сделал, либо задавать тупые вопросы
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Текст страницы "Технологии"</p>
  </article>
</div>
{% endblock %} 